body {
    padding-top: 5rem;
    position: relative;

    /* Margin bottom by footer height */
    margin-bottom: 40px;
}

body > div.container {
    margin-bottom: 4rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

body div.row > div {
    padding-bottom: 15px;
    padding-top: 15px;
}

a.navbar-brand {
    font-weight: 200;
}

a.navbar-brand > span.separator:before {
    content: '|';
}

a.navbar-brand > span.separator {
    font-weight: 100;

    padding-left: 5px;
    padding-right: 5px;
}

.btn-alternative {
    max-width: 90%;
    margin: auto;
    padding-top: .5rem;
}

/* Footer Styles*/
.footer {
    position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 35px; /* Vertically center the text there */
    font-size: .75rem;
}

.footer .container {
    border-top: solid #E0E0E0 1px;
    color: #666666;
    cursor: default;
}

.footer .container a, .footer.container a:hover {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

footer.footer a:not(.icon):hover,
footer.footer a:visited:not(.icon):hover {
    border-bottom-color: #1166BB;
}

footer.footer a:not(.icon),
footer.footer a:visited:not(.icon) {
    border-bottom: 1px solid #d3d6db;
}

footer.footer a:hover,
footer.footer a:visited:hover {
    color: #222324;
}

footer.footer a,
footer.footer a:visited {
    color: #69707a;
}

footer.footer .fa.fa-github {
    font-size: 1rem;
}